<div class="center bg-dark jumbotron mt-5 mb-4">
  <div id="chatroom_container" class="row p-5 bg-dark text-light">
    <button type="button" class="btn btn-info mb-3">
      <strong>Hotchatter</strong> <span class="badge bg-primary"><%= current_user.email %></span>
    </button>
      <h4 class="display-6"> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4 class="display-6"> Rooms </h4>
    <%= turbo_stream_from "rooms" %>
    <%= render 'layouts/new_room_form' %>
    <div id="rooms" class="mt-3">
      <%= render @rooms%>
    </div>
    </div>
</div>




